<div id="map-canvas">
    <map height="100%" zoom="14" center="[37.8717, -122.2728]">
        <marker
          position="[37.8717, -122.2728]"
          title="Hello Marker"
          animation="Animation.BOUNCE"
          draggable="true"
          visible="true"
          icon="assets/marker.png"></marker>
    </map>
</div>

<div id="mybutton" ng-click="clickToOpen()">
  Request a carwash
</div>

