<div ng-controller="FormCtrl">
<center>
<h1>Welcome to Mr. Miyagi!</h1>

<form class="pure-form">
    <fieldset class="pure-group">
        <input type="email" ng-model="email" class="pure-input-1-2" placeholder="Email">
        <input type="text" ng-model="address" class="pure-input-1-2" placeholder="Address">
        <input type="text" ng-model="plate" class="pure-input-1-2" placeholder="License Plate">
    </fieldset>

    <button type="submit" ng-click="onRequestWash()" class="pure-button pure-input-1-2 pure-button-primary">Wash My Car!</button>
</form>
</center>
</div>