<div ng-controller="FormCtrl">
<center>
<h1>Your Car Is Washed!</h1>

What did you think?

<form class="pure-form">
    <fieldset class="pure-group">
        <span ng-repeat="rating in ratings">
        <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)"></div>
        </span>
        <input type="text" ng-model="address" class="pure-input-1-2" placeholder="Feedback">
    </fieldset>

    <button type="submit" ng-click="onDone()" class="pure-button pure-input-1-2 pure-button-primary">Submit</button>
</form>
</center>
</div>