<!DOCTYPE html>
<html>
<head>
  <title>MiyagiCarwash</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="/assets/jquery.js?body=1"></script>
  <script src="/assets/jquery_ujs.js?body=1"></script>
  <script src="/assets/angular/angular.js?body=1"></script>
  <script src="/assets/angular-route/angular-route.js?body=1"></script>
  <script src="/assets/angular-rails-templates.js?body=1"></script>
  <script src="/assets/home.js?body=1"></script>
  <script src="/assets/ng-app/app.js?body=1"></script>
  <script src="/assets/ng-app/home.js?body=1"></script>
  <script src="/assets/application.js?body=1"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing"></script>
  <%= csrf_meta_tags %>

  <script>
function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(37.8717, -122.2728),
    zoom: 14
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);

  var drawingManager = new google.maps.drawing.DrawingManager({
    drawingMode: google.maps.drawing.OverlayType.MARKER,
    drawingControl: true,
    drawingControlOptions: {
      position: google.maps.ControlPosition.TOP_CENTER,
      drawingModes: [
        google.maps.drawing.OverlayType.MARKER
      ]
    },
    markerOptions: {
      icon: '/assets/marker.png'
    }
  });
  drawingManager.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body ng-app="AngularRails">

<div id="map-canvas"></div>

<%= yield %>

</body>
</html>
